[Unit]
Description=Update Dolphin Bookmark
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/updateDolphinSrv.sh
WorkingDirectory=/home/gqzang/UpdateDolphin
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n