button {
    font-size: 36px;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;
    padding: 3px;
    border: 2px solid darkturquoise;
    border-radius: 3px;
    cursor: pointer;
}

input {
    padding: 1px 1px;
    font-size: 24px;
}

textarea {
    font-size: 24px;
    resize: none;
}

input[type="checkbox"] {
    transform: scale(2); /* Makes the checkbox 2 times bigger */
    -webkit-transform: scale(2); /* Safari and Chrome */
    margin: 20px; /* Adjust margin for proper spacing */
}

label {
    font-size: 1.5rem; /* Sets the text size to 1.5 times the root font size */
}

.alert-box {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    transform: scale(1.5);
    background-color: yellow;
    color: red;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#image-container {
    width: 100%;
    height: 100vh; /* Full viewport height for demonstration */
    /* background-image: url('your-image.jpg'); */
    background-size: contain;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-color:black; 
    overscroll-behavior: none; 
    color: gold;
    /* overflow: hidden;  */
    /* Hide overflowing parts of the image */
    transition: background-size 0.2s ease-out; /* Smooth transition for the zoom effect */
}