button {
    font-size: 36px;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;
    padding: 3px;
    border: 2px solid darkturquoise;
    border-radius: 3px;
    cursor: pointer;
}

input {
    padding: 1px 1px;
    font-size: 24px;
}

textarea {
    font-size: 24px;
    resize: none;
}

input[type="checkbox"] {
    transform: scale(2); /* Makes the checkbox 2 times bigger */
    -webkit-transform: scale(2); /* Safari and Chrome */
    margin: 20px; /* Adjust margin for proper spacing */
}

label {
    font-size: 1.5rem; /* Sets the text size to 1.5 times the root font size */
}