.container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    border: 0px solid white;
    padding: 4px;
  }
  .container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 4px;
    font-size: 24px;
    text-align: center;
  }
  
  .player {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: dodgerblue;
    padding: 4px;
  }
  .player > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 4px;
    font-size: 24px;
    text-align: center;
  }
  
  input[type="text"]{ 
    padding: 1px 1px; 
    font-size: 24px;
  }
  
  textarea { 
    font-size: 24px; 
    resize: none;
  }
  
  button {
    font-size: 48px; 
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;
    padding: 9px;
    border: 3px solid darkturquoise;
    border-radius: 9px;
    cursor: pointer;
  }
  
  img {
      max-width:600px;
      max-height:75px;
      width:auto;
      height:auto;
  }
  